.users-list {
   padding: 1rem 0 0 0;
   margin: 0 4rem 10rem 4rem;

   .users-list__table {
      max-height: 70vh;
      overflow: auto;
      background-color: black;
      border-radius: 0.5rem;
      border: 1px solid black;
   }

   .users-list__addition{
      background-color: black;
      border-radius: 0.5rem;
      margin-top: 7rem;
      color: white;
      padding : 2rem;
   }
}