.order {
   padding: 0 10rem;

   .order__body {
      .order-item {
         border: 2px solid var(--lime-green-color);
         padding : 1rem 2rem;
         border-radius: 0.5rem;
         // background-color: var(--slight-green-color);
      }
   }
}